.header {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        margin-left: 46px;
    }

    &__menu__item {
        margin-right: 50px;
        line-height: rem(16px);
        letter-spacing: 0.465em;
        text-transform: uppercase;
        color: $white;
    }

    .item--active,
    .header__menu__item:hover {
        padding-bottom: 5px;
        text-decoration: none;
        border-bottom: 2px solid $dark;
    }

    &__commands {
        margin-right: 46px;
        display: flex;
    }

    &__commands__item {
        margin-left: 44px;
    }
}
